<%= form_with(model: veiculo) do |form| %>
  <% if veiculo.errors.any? %>
    <div id="motivo_erro" style="color: red">
      <h2><%= pluralize(veiculo.errors.count, "error") %> prohibited this veiculo from being saved:</h2>

      <ul>
        <% veiculo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :modelo, style: "display: block" %>
    <%= form.text_field :modelo %>
  </div>

  <div>
    <%= form.label :ano, style: "display: block" %>
    <%= form.number_field :ano %>
  </div>

  <div>
    <%= form.label :quilometragem, style: "display: block" %>
    <%= form.text_field :quilometragem %>
  </div>

  <div>
    <%= form.label :uso, style: "display: block" %>
    <%= form.text_field :uso %>
  </div>

  <div>
    <%= form.label :historico_manutencao, style: "display: block" %>
    <%= form.text_area :historico_manutencao %>
  </div>

  <div>
    <%= form.label :valor_anuncio, style: "display: block" %>
    <%= form.text_field :valor_anuncio %>
  </div>

  <div>
    <%= form.hidden_field :tabela_fipe %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
