<div id="<%= dom_id veiculo %>">
  <p>
    <strong>Modelo:</strong>
    <%= veiculo.modelo %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= veiculo.ano %>
  </p>

  <p>
    <strong>Quilometragem:</strong>
    <%= "#{veiculo.quilometragem} Km" %>
  </p>

  <p>
    <strong>Uso:</strong>
    <%= veiculo.uso %>
  </p>

  <p>
    <strong>Historico manutencao:</strong>
    <%= veiculo.historico_manutencao %>
  </p>

  <p>
    <strong>Valor anuncio:</strong>
    <%= "R$ #{veiculo.valor_anuncio}" %>
  </p>

  <p>
    <strong>Tabela fipe:</strong>
    <%= "R$ #{veiculo.tabela_fipe}" %>
  </p>

</div>
