<div id="<%= dom_id vendedor %>">
  <p>
    <strong>Nome:</strong>
    <%= vendedor.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= vendedor.idade %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= vendedor.cpf %>
  </p>

  <p>
    <strong>Comissao:</strong>
    <%= vendedor.comissao %>
  </p>

</div>
