<div id="<%= dom_id venda %>">
  <p>
    <strong>Cliente:</strong>
    <%= venda.cliente_id %>
  </p>

  <p>
    <strong>Veiculo:</strong>
    <%= venda.veiculo_id %>
  </p>

  <p>
    <strong>Vendedor:</strong>
    <%= venda.vendedor_id %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= venda.valor %>
  </p>

  <p>
    <strong>Quantidade veiculos:</strong>
    <%= venda.quantidade_veiculos %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= venda.status %>
  </p>

</div>
