<p style="color: green"><%= notice %></p>
<%= link_to 'Home', root_path %>

<h1>Vendas</h1>
<% if @vendedor.present? %>
  <h1>Historico de Vendas de <%= @vendedor.nome %></h1>

  <div id="vendas">
    <% if @vendas.empty? %>
      <p>Nenhuma venda registrada para este vendedor.</p>
    <% else %>
      <% @vendas.each do |venda| %>
        <div>
          <p>Cliente: <%= venda.cliente.nome %></p>
          <p>Veículo: <%= venda.veiculo.modelo %></p>
          <p>Vendedor: <%= venda.vendedor.nome%></p>
          <p>Valor: <%= number_to_currency(venda.valor) %></p>
          <p>Status: <%= venda.status.capitalize %></p>
          <%= link_to "Show this venda", venda %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to "New venda", new_venda_path %>
<% else %>
  <div id="vendas">
    <% if @vendas.empty? %>
      <p>Nenhuma venda registrada.</p>
    <% else %>
      <% @vendas.each do |venda| %>
        <div>
          <p>Cliente: <%= venda.cliente.nome %></p>
          <p>Veículo: <%= venda.veiculo.modelo %></p>
          <p>Vendedor: <%= venda.vendedor.nome%></p>
          <p>Valor: <%= number_to_currency(venda.valor) %></p>
          <p>Status: <%= venda.status.capitalize %></p>
          <%= link_to "Show this venda", venda %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>